.event-details{
    width: 50vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.Outer-event-container{
    display: flex;
    justify-content: flex-start;
    height: 40vw;
    flex-direction: row;
    position: relative;
}

.deleteEdit-buttons{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    
}

.button-spacing{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.edit-event-form{
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid rgba(255, 151, 103, 0.856);
    border-radius: 5px;
    /* height: 40vh; */
    width: 28vw;
    margin-right: 20px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.edit-event-form > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
}

.add-comment-button{
    width: 90px;
    height: 4vh;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2%;
}

.add-comment-button:hover{
    background-color: rgb(116, 56, 172);
    cursor: pointer;
    color: aliceblue;
}

.button-spacing > button{
    width: 90px;
    height: 4vh;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.button-spacing > button:hover{
    background-color: rgb(116, 56, 172);
    cursor: pointer;
    color: aliceblue;
}

.comment-container{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 60vw;
    padding-top: 2%;
    margin: 0;
    justify-content: start;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid rgb(95, 95, 95);
    margin-bottom: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: -1px 1px rgb(5, 5, 5);
    overflow-wrap: break-word;
    overflow: auto;
}

.comment-container:hover{
    cursor: pointer;
}

.outer-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column-reverse;
}

.delete-button{
    width: 8vw;
    height: 2vh;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delete-button:hover{
    background-color: rgb(172, 74, 56);
    cursor: pointer;
    color: aliceblue;
}