.event-details{
    width:auto;
    /* height: 40vw; */
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 4px solid rgba(255, 151, 103, 0.856);
    overflow-wrap: break-word;
    overflow: auto;
    box-shadow: -3px 3px rgba(97, 97, 97, 0.685);
}

.event-details:hover{
    cursor: default;
}

.Outer-event-container{
    display: flex;
    justify-content: flex-start;
    height: 40vw;
    flex-direction: row;
    position: relative;
    width: 80vw;
}

.outer-outer{
    display: flex;
    justify-content: center;
}

.deleteEdit-buttons{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    
}

.button-spacing{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.edit-event-form{
    position: relative;
    border: 4px solid rgba(255, 151, 103, 0.856);
    border-radius: 5px;
    background-color: antiquewhite;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event-form-container{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.edit-event-form > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
}

.edit-event-form > div > input{
    width: 15vw;
}

.edit-event-form > div > textarea{
    width: 25vw;
    height: 10vw;
}

.add-comment-button{
    width: 90px;
    height: 4vh;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2%;
}

.add-comment-button:hover{
    background-color: rgb(116, 56, 172);
    cursor: pointer;
    color: aliceblue;
}

.button-spacing > button{
    width: 90px;
    height: 4vh;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    /* margin-right: 20px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-spacing > button:hover{
    background-color: rgb(116, 56, 172);
    cursor: pointer;
    color: aliceblue;
}

.comment-container{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 60vw;
    padding-top: 2%;
    margin: 0;
    justify-content: start;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid rgb(95, 95, 95);
    margin-bottom: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: -2px 2px rgba(5, 5, 5, 0.479);
    overflow-wrap: break-word;
    overflow: auto;
}

.comment-container:hover{
    cursor: default;
    background-color: rgba(255, 151, 103, 0.856);
}

.outer-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column-reverse;
}

.delete-button{
    width: auto;
    /* height: 2vh; */
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delete-button:hover{
    background-color: rgb(172, 74, 56);
    cursor: pointer;
    color: aliceblue;
}

.delete-edit-container{
    width: 60vw;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: end;
}

.edit-comment-button{
    width: auto;
    /* height: 2vh; */
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edit-comment-button:hover{
    background-color: rgb(56, 172, 95);
    cursor: pointer;
    color: aliceblue;
}

.new-comment-form > h2{
    display: flex;
    justify-content: center;
}

.delete-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.edit-comment-form {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edit-comment-form > h2{
    display: flex;
    justify-content: center;
}