.navBar{
    display: flex;
    flex-direction: row;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 151, 103, 0.856);
}

.navBar > .log-out-button{
    margin-right: 35px;
}

.home_create-event{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}



.user-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

.new-event-button{
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new-event-button:hover{
    background-color: rgb(87, 87, 194);
    cursor: pointer;
    color: aliceblue;
}

.log-out-button{
    width: 90px;
    height: auto;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.log-out-button:hover{
    background-color: rgb(221, 177, 34);
    cursor: pointer;
    color: aliceblue;
}

.home{
    color: rgb(69, 30, 87);
    transform: scale(1.8);
}