.splash-container{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-image: url("../../bike.jpg");
}

.splash-buttons {
    display: flex;
    width: 80vw;
    justify-content: space-around;
}

.splash-buttons > button {
    background-color: rgb(45, 115, 133);
    color: white;
    border-radius: 10px;
    width: 8vw;
    padding: 1%;
    border-bottom: 2px solid rgb(65, 153, 182);
}
.login-button, .signup-button, .demoUser-button {
    border-top: 2px solid rgb(92, 130, 143);
    cursor: pointer;
}

.splash-text{
    color: rgb(45, 115, 133);
    display: flex;
    justify-content: center;
    font-size: xx-large;
}